<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chores.gamede">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vector"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vector"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameDe">
        <activity android:name=".ui.ProfileActivity"></activity>
        <activity android:name=".ui.DetailGameActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>